# Ignore all
*

# Unignore files with extensions
!*.*

# Unignore all dirs
!*/

# Unignore makefiles.
!Makefile*
!makefile*

#######

# Ignore some folders.
bin
build
lib

# Ignore object files.
*.o

#Ignore Netbeans Project files.
nbproject

